<%- include('header'); -%>
<body>
  <div class="box" id="heading">
    <h1><%= page %></h1>
  </div>

  <div class="box">
    <% listItems.forEach(item => { %>
    <form action="/delete" method="post">
      <div class="item">
        <input
          onchange="this.form.submit()"
          type="checkbox"
          name="checkbox"
          value="<%= item._id %>"
          id=""
        />
        <p><%= item.name %></p>
      </div>
      <input type="hidden" name="listName" value="<%= page %>" />
    </form>
    <% }) %>

    <form class="item" action="/" method="post">
      <input
        type="text"
        name="addItem"
        placeholder="Enter Task"
        autocomplete="off"
      />
      <button type="submit" name="button" value="<%=page%>">+</button>
    </form>
  </div>
</body>

<%- include('footer'); -%>
